modules/WSACL_mob/WSACL_mob-service/src/main/resources/wsdl/EnterpriseContext.xsd

<?xml version="1.0"?>
<xsd:schema xml:lang="en" elementFormDefault="qualified" attributeFormDefault="unqualified"
						targetNamespace="http://enterprise.olp.sadad.com/Infrastructure/EnterpriseContext"
						xmlns="http://enterprise.olp.sadad.com/Infrastructure/EnterpriseContext" 
						xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation>
			This schema describes the EnterpriseContext.
		</xsd:documentation>
	</xsd:annotation>
	<!-- Type definitions of simple types -->	
	
	<xsd:simpleType name="ProcessContextId_Type">
		<xsd:annotation>
			<xsd:documentation>
			This will be a universal message identifier with the combination of 
								1.	Requester Code
								2.	Unique Number generated by Caller (6 digit)
								3.	Timestamp in milliseconds
		</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ApplicationContextId_Type">
		<xsd:annotation>
			<xsd:documentation>
			Name of the requested application. Possible values are
							1:SADAD OLP System
							2.Issuing Bank System							
							3:Acquiring Bank System
							4:AB-Merchant Portal
							5:IB-Consumer Portal
							6:SADAD Portal
							7:Bank Portal
							8:Merchant System
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BusinessContextId_Type">
		<xsd:annotation>
			<xsd:documentation>This identifier unique used to uniquely identify the type of business request.
			  Below given are possible values.
					CR – Consumer Registration and Management
					MR – Merchant Registration and Management
					CO – Consumer Checkout and Payment
					RS – Reconciliation and Settlement
					RF – Refund Payment
					DP – Consumer/Merchant Dispute
					TM – Service Support
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RequesterCode_Type">
		<xsd:annotation>
			<xsd:documentation>RequestorCode</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MachineIPAddress_Type">
		<xsd:annotation>
			<xsd:documentation>Contains the IP Address of the machine.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="23"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UserPrincipleName_Type">
		<xsd:annotation>
			<xsd:documentation>The user name that is used to log onto a machine.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RequestedTimestamp_Type">
		<xsd:annotation>
			<xsd:documentation>The user name that is used to log onto a machine.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime">
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ChannelId_Type">
		<xsd:annotation>
			<xsd:documentation>The unique Identifier for the channel used to initiate the request.
			Code used to determine the channel. Possible values are
					1 : Web browser
					2 : Mobile browser
					3 : ATM Kiosk
					4 : Smartphone App
					5 : Batch
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:totalDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>	
	<!-- Type definitions of complex types (Aggregates) -->
	<xsd:complexType name="ContextInfo">
		<xsd:annotation>
			<xsd:documentation>Contains information about the context within which the request is executing.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ProcessContextId" type="ProcessContextId_Type" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="businessContextId" type="BusinessContextId_Type" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="applicationContextId" type="ApplicationContextId_Type" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>	
	<xsd:complexType name="RequestOriginator">
		<xsd:annotation>
			<xsd:documentation>Contains information about where and when the request was originated.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="requesterCode" type="RequesterCode_Type" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="machineIPAddress" type="MachineIPAddress_Type" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="userPrincipleName" type="UserPrincipleName_Type" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="requestedTimestamp" type="RequestedTimestamp_Type" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="channelId" type="ChannelId_Type" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Type definitions of complex types (Messages) -->
	<xsd:complexType name="EnterpriseContext_Type">
		<xsd:annotation>
			<xsd:documentation>Contain enterprise specific information that is required on every request.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="contextInfo" type="ContextInfo" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="requestOriginator" type="RequestOriginator" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Message complex types made available as elements -->
	<xsd:element name="enterpriseContext" type="EnterpriseContext_Type"/>
</xsd:schema>