modules/WSACL_mob/WSACL_mob-service/src/main/resources/wsdl/SADADPaymentManager.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Copyright All Rights Reserved. This software is the proprietary information 
	of SADAD. Use is subject to license terms. -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://olp.sadad.com/sadadpaymentmanagement/service/sadadpaymentmanager/intf/1"
	version="1.0"
	xmlns:tns="http://olp.sadad.com/sadadpaymentmanagement/service/sadadpaymentmanager/intf/1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:annotation>
		<xsd:documentation>
			This schema defines the data transfer objects used
			by the SADAD PaymentManager service.
		</xsd:documentation>
	</xsd:annotation>

	<xsd:annotation>
		<xsd:documentation>
			Below element tag shows the @RequestWrapper and
			@ResponseWrapper name and type. The default value of the localName is
			the operationName for Request wrapper and operationName appended by
			Response for Response wrapper.
		</xsd:documentation>
	</xsd:annotation>



	<xs:element name="Fault" type="tns:Fault">
		<xsd:annotation>
			<xsd:documentation>
				SADADPaymentManagement Fault element wrapper.
			</xsd:documentation>
		</xsd:annotation>
	</xs:element>

	<xs:element name="ConfirmPaymentDetails" type="tns:ConfirmPaymentDetails">
		<xsd:annotation>
			<xsd:documentation>
				ConfirmPaymentDetails request jax-ws element wrapper.
			</xsd:documentation>
		</xsd:annotation>
	</xs:element>

	<xs:element name="ConfirmPaymentDetailsResponse" type="tns:ConfirmPaymentDetailsResponse">
		<xsd:annotation>
			<xsd:documentation>
				ConfirmPaymentDetails response jax-ws element wrapper.
			</xsd:documentation>
		</xsd:annotation>
	</xs:element>

	<xs:element name="InitiatePaymentDetails" type="tns:InitiatePaymentDetails">
		<xsd:annotation>
			<xsd:documentation>
				InitiatePaymentDetails request jax-ws element wrapper.
			</xsd:documentation>
		</xsd:annotation>
	</xs:element>
	<xs:element name="InitiatePaymentDetailsResponse" type="tns:InitiatePaymentDetailsResponse">
		<xsd:annotation>
			<xsd:documentation>
				InitiatePaymentDetails response jax-ws element wrapper.
			</xsd:documentation>
		</xsd:annotation>
	</xs:element>

	<xs:complexType name="InitiatePaymentDetails">

		<xsd:annotation>
			<xsd:documentation>
				InitiatePaymentDetails request wrapper.
			</xsd:documentation>
		</xsd:annotation>

		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="InitiatePaymentDetailsRequest"
				type="tns:InitiatePaymentDetailsRequest" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InitiatePaymentDetailsRequest">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1"
				name="transactionAmount" type="xs:double">
				<xsd:annotation>
					<xsd:documentation>
						The transaction amount
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="olpIdAlias"
				type="xs:string">
				<xsd:annotation>
					<xsd:documentation>
						Alias OLP ID of the Consumer.
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1"
				name="merchantRefNum" type="xs:string">
				<xsd:annotation>
					<xsd:documentation>
						The Merchant Reference Number.
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="unbounded"
				name="merchants" type="tns:Merchant">
				<xsd:annotation>
					<xsd:documentation>
						The list of merchants
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
			
			<xs:element minOccurs="0" maxOccurs="1" name="dynamicMerchantLandingURL" type="xs:string">
			<xsd:annotation>
					<xsd:documentation>
						The Merchant Landing URL which is passed during each checkout
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="dynamicMerchantFailureURL" type="xs:string">
			<xsd:annotation>
					<xsd:documentation>
					The Merchant failure URL which is passed during each checkout
					</xsd:documentation>
				</xsd:annotation>
			
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="merchantId"
				type="xs:long">
				<xsd:annotation>
					<xsd:documentation>
						The ID of the Merchant.
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Merchant">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="merchantId"
				type="xs:long">
				<xsd:annotation>
					<xsd:documentation>
						The ID of the Merchant.
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="merchantRefNum"
				type="xs:string">
				<xsd:annotation>
					<xsd:documentation>
						The Merchant Reference Number.
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="paymentAmount"
				type="xs:double">
				<xsd:annotation>
					<xsd:documentation>
						The payment amount.
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>

			<xs:element minOccurs="1" maxOccurs="1" name="paymentCurrency"
				type="xs:string">
				<xsd:annotation>
					<xsd:documentation>
						The currency in which the payment is made.
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="merchantType"
				type="xs:int">
				<xsd:annotation>
					<xsd:documentation>
						The Merchnat type:
						1.Primary
						2.Secondary
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InitiatePaymentDetailsResponse">

		<xsd:annotation>
			<xsd:documentation>
				InitiatePaymentDetails response wrapper.
			</xsd:documentation>
		</xsd:annotation>

		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="InitiatePaymentDetailsReply"
				type="tns:InitiatePaymentDetailsReply" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InitiatePaymentDetailsReply">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1"
				name="initiatePaymentTransactionDetails" type="tns:InitiatePaymentTransactionDetails">
				<xsd:annotation>
					<xsd:documentation>
						The initiate Payment Transaction details
						Details.
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="responseCode" type="xs:string">
      			<xsd:annotation>
					<xsd:documentation>
						responseCode :
						00.Success
						01.Failure
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
			
			<xs:element minOccurs="0" maxOccurs="1"
				name="bankBusinessException" type="tns:BankBusinessException">
				<xsd:annotation>
					<xsd:documentation>
						The Business Exception Details.
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InitiatePaymentTransactionDetails">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="abRefNum"
				type="xs:string">
				<xsd:annotation>
					<xsd:documentation>
						The Acquiring bank Reference No.
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="merchantRefNum"
				type="xs:string">
				<xsd:annotation>
					<xsd:documentation>
						The Merchant Reference No.
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="ibURL" type="xs:string">
				<xsd:annotation>
					<xsd:documentation>
						The URL of the Issuing Bank.
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>				
		</xs:sequence>
	</xs:complexType>



	<xs:complexType name="BankBusinessException">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="errorCode"
				type="xs:string">
				<xsd:annotation>
					<xsd:documentation>
						The Error Code of the Business Exception.
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="errorMessage"
				type="xs:string">
				<xsd:annotation>
					<xsd:documentation>
						The Error Message of the Business Exception.
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ConfirmPaymentDetails">
		<xsd:annotation>
			<xsd:documentation>
				ConfirmPaymentDetails Request Wrapper.
			</xsd:documentation>
		</xsd:annotation>
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="ConfirmPaymentDetailsRequest"
				type="tns:ConfirmPaymentDetailsRequest" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ConfirmPaymentDetailsRequest">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="transactionIdEnc"
				type="xs:string">
				<xsd:annotation>
					<xsd:documentation>
						The Encrypted unique Transaction ID.
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="merchantId"
				type="xs:long">
				<xsd:annotation>
					<xsd:documentation>
						The Unique ID of the Merchant.
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="merchantRefNum"
				type="xs:string">
				<xsd:annotation>
					<xsd:documentation>
						The Merchant Reference Number.
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
			
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ConfirmPaymentDetailsResponse">

		<xsd:annotation>
			<xsd:documentation>
				ConfirmPaymentDetails Response Wrapper.
			</xsd:documentation>
		</xsd:annotation>

		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="ConfirmPaymentDetailsReply"
				type="tns:ConfirmPaymentDetailsReply" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ConfirmPaymentDetailsReply">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1"
				name="ConfirmPaymentTransactionDetails" type="tns:ConfirmPaymentTransactionDetails">
				<xsd:annotation>
					<xsd:documentation>
						The ConfirmaPaymentDetails
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="responseCode" type="xs:string">
      			<xsd:annotation>
					<xsd:documentation>
						responseCode :
						00.Success
						01.Failure
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1"
				name="bankBusinessException" type="tns:BankBusinessException">
				<xsd:annotation>
					<xsd:documentation>
						The Business Exception.
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ConfirmPaymentTransactionDetails">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="abRefNum"
				type="xs:string">
				<xsd:annotation>
					<xsd:documentation>
						The Acquiring bank Reference Number.
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="merchantRefNum"
				type="xs:string">
				<xsd:annotation>
					<xsd:documentation>
						The Merchant Reference Number.
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="paymentStatus"
				type="xs:int">
				<xsd:annotation>
					<xsd:documentation>
						The Status of the Payment.
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="transactionId"
				type="xs:string">
				<xsd:annotation>
					<xsd:documentation>
						The Unique ID for the Transaction.
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Fault">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="faultCode"
				type="xs:string">
				<xsd:annotation>
					<xsd:documentation>
						Fault Type of the fault occured
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="faultString"
				type="xs:string">
				<xsd:annotation>
					<xsd:documentation>
						Errormessage of the fault occured
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="timeStamp"
				type="xs:dateTime">
				<xsd:annotation>
					<xsd:documentation>
						Time when the fault occured
					</xsd:documentation>
				</xsd:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>