modules/WSACL_mob/WSACL_mob-service/src/main/resources/wsdl/WrapperService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="Service" targetNamespace="http://tempuri.org/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
<xs:element name="PolicyIssuance">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="1" name="xmlRequest">
<xs:complexType>
<xs:sequence>
    <xs:element name="POLICY_ISSUANCE">
    <xs:complexType>
      <xs:sequence>
	  
        <xs:element minOccurs="1" maxOccurs="1" name="POLICY">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" type="xs:string" name="REFERENCE_NO"/>
              <xs:element minOccurs="1" type="xs:string" name="SOURCE"/>
              <xs:element minOccurs="1" type="xs:string" name="TRANSACTION"/>
              <xs:element minOccurs="1" type="xs:string" name="PRODUCT_CODE"/>
              <xs:element minOccurs="1" type="xs:string" name="POLICY_EFF_DATE"/>
              <xs:element minOccurs="1" type="xs:string" name="PAYMENT_METHOD"/>
              <xs:element minOccurs="1" type="xs:decimal" name="PAYMENT_AMOUNT"/>
              <xs:element minOccurs="1" type="xs:string" name="PAYMENT_REF_NO"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="INSURED">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" type="xs:int" name="INSURED_ID_TYPE"/>
              <xs:element minOccurs="1" type="xs:long" name="INSURED_ID"/>
              <xs:element minOccurs="1" type="xs:string" name="INSURED_DOB"/>
              <xs:element minOccurs="1" type="xs:string" name="INSURED_GENDER"/>
              <xs:element minOccurs="1" type="xs:string" name="INSURED_FIRST_NAME"/>
              <xs:element minOccurs="1" type="xs:string" name="INSURED_MIDDLE_NAME"/>
              <xs:element minOccurs="1" type="xs:string" name="INSURED_LAST_NAME"/>
              <xs:element minOccurs="1" type="xs:string" name="INSURED_NATIONALITY"/>
              <xs:element minOccurs="1" type="xs:int" name="ADDRESS_BLDG_NO"/>
              <xs:element minOccurs="1" type="xs:int" name="ADDRESS_UNIT_NO"/>
              <xs:element minOccurs="1" type="xs:string" name="ADDRESS_STREET"/>
              <xs:element minOccurs="1" type="xs:string" name="ADDRESS_DISTRICT"/>
              <xs:element minOccurs="1" type="xs:string" name="ADDRESS_CITY"/>
              <xs:element minOccurs="1" type="xs:int" name="ADDRESS_ZIPCODE"/>
              <xs:element minOccurs="1" type="xs:int" name="ADDRESS_ADD_NUMBER"/>
              <xs:element minOccurs="1" type="xs:string" name="INSURED_MOBILE"/>
              <xs:element minOccurs="1" type="xs:string" name="INSURED_EMAIL"/>
              <xs:element minOccurs="1" type="xs:string" name="INSURED_IBAN"/>
			  <xs:element minOccurs="1" type="xs:string" name="INSURED_OCCUP"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="VEHICLE">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="VEHICLE_INFO">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element minOccurs="1" type="xs:string" name="CITY"/>
                    <xs:element minOccurs="1" type="xs:int" name="VEHICLE_ID_TYPE"/>
                    <xs:element minOccurs="1" type="xs:long" name="VEHICLE_ID"/>
                    <xs:element minOccurs="1" type="xs:string" name="VEHICLE_PLATE_TYPE"/>
                    <xs:element minOccurs="1" type="xs:int" name="VEHICLE_PLATE_NO"/>
                    <xs:element minOccurs="1" type="xs:string" name="VEHICLE_PLATE_L1"/>
                    <xs:element minOccurs="1" type="xs:string" name="VEHICLE_PLATE_L2"/>
                    <xs:element minOccurs="1" type="xs:string" name="VEHICLE_PLATE_L3"/>
                    <xs:element minOccurs="1" type="xs:string" name="PURPOSE_OF_VEHICLE"/>
                    <xs:element minOccurs="1" type="xs:string" name="VEHICLE_MAKE"/>
                    <xs:element minOccurs="1" type="xs:string" name="VEHICLE_MODEL"/>
                    <xs:element minOccurs="1" type="xs:int" name="VEHICLE_MFG_YEAR"/>
                    <xs:element minOccurs="1" type="xs:string" name="VEHICLE_COLOR"/>
                    <xs:element minOccurs="1" type="xs:string" name="VEHICLE_BODY_TYPE"/>
                    <xs:element minOccurs="1" type="xs:string" name="VEHICLE_CHASSIS_NO"/>
                    <xs:element minOccurs="1" type="xs:string" name="VEHICLE_EST_EXP_DATE"/>
                    <xs:element minOccurs="1" type="xs:string" name="DEDUCTIBLE_VALUE"/>
                    <xs:element minOccurs="1" type="xs:long" name="VEHICLE_VALUE"/>
                    <xs:element minOccurs="1" type="xs:string" name="AGENCY_REPAIR"/>
                    <xs:element minOccurs="1" type="xs:int" name="VEHICLE_CAPACITY"/>
                    <xs:element minOccurs="1" type="xs:int" name="VEHICLE_CYLINDER"/>
                    <xs:element minOccurs="1" type="xs:int" name="VEHICLE_WEIGHT"/>
                    <xs:element minOccurs="1" type="xs:int" name="NCD_YEARS"/>
                    <xs:element minOccurs="1" type="xs:string" name="LOYALTY_DISCOUNT_FLAG"/>
					<xs:element minOccurs="1" type="xs:decimal" name="NET_PREMIUM"/>
					<xs:element minOccurs="1" type="xs:decimal" name="NCD_DISCOUNT_AMOUNT"/>
					<xs:element minOccurs="1" type="xs:decimal" name="LOYALTY_DISCOUNT_AMOUNT"/>
					<xs:element minOccurs="1" type="xs:decimal" name="NCD_DISCOUNT_PER"/>
					<xs:element minOccurs="1" type="xs:decimal" name="LOYALTY_DISCOUNT_PER"/>
					<xs:element minOccurs="1" type="xs:decimal" name="LOADING_AMOUNT"/>
					<xs:element minOccurs="1" type="xs:decimal" name="POLICY_TAXES"/>
					<xs:element minOccurs="1" type="xs:decimal" name="POLICY_FEES"/>
                    <xs:element minOccurs="1" type="xs:decimal" name="TOTAL_COVER_PREMIUM"/>
					<xs:element minOccurs="1" type="xs:decimal" name="GROSS_PREMIUM"/>
					<xs:element minOccurs="1" type="xs:int" name="ADD_DRIVER_COUNT"/>
					<xs:element minOccurs="1" type="xs:int" name="ADD_COVER_COUNT"/>
					<xs:element minOccurs="1" type="xs:string" name="EXIST_POL_NO"/>
					<xs:element minOccurs="1" type="xs:string" name="EXIST_COMP_NAME"/>
					<xs:element minOccurs="1" type="xs:string" name="EXIST_EXP_DATE"/>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="ADD_DRIVER">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" type="xs:int" name="DRIVER_ID_TYPE"/>
                          <xs:element minOccurs="1"  type="xs:long" name="DRIVER_ID"/>
                          <xs:element minOccurs="1"  type="xs:string" name="DRIVER_DOB"/>
                          <xs:element minOccurs="1"  type="xs:string" name="DRIVER_NAME"/>
                          <xs:element minOccurs="1"  type="xs:string" name="DRIVER_NATIONALITY"/>
                          <xs:element minOccurs="1"  type="xs:string" name="DRIVER_GENDER"/>
						  <xs:element minOccurs="1"  type="xs:int" name="DRIVER_NCD"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="COVER">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1"  type="xs:string" name="COVER_CODE"/>
                          <xs:element minOccurs="1"  type="xs:decimal" name="COVER_RATE"/>
                          <xs:element minOccurs="1"  type="xs:long" name="COVER_SI"/>
                          <xs:element minOccurs="1"  type="xs:decimal" name="COVER_PREM"/>
                          <xs:element minOccurs="1"  type="xs:string" name="COVER_EFF_FRM_DATE"/>
                          <xs:element minOccurs="1"  type="xs:string" name="COVER_EFF_TO_DATE"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:sequence> 
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="PolicyIssuanceResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="1" name="PolicyIssuanceResult">
<xs:complexType>
<xs:sequence>
        <xs:element name="PI_RESPONSE">
       <xs:complexType>
       <xs:sequence>
        <xs:element type="xs:string" name="REFERENCE_NO"/>
        <xs:element type="xs:string" name="STATUS_CODE"/>
        <xs:element type="xs:string" name="MESSAGE"/>
        <xs:element type="xs:string" name="POLICY_NO"/>
        <xs:element type="xs:string" name="POLICY_EFFECTIVE_FROM"/>
        <xs:element type="xs:string" name="POLICY_EFFECTIVE_TO"/>
        <xs:element type="xs:string" name="POLICY_ISSUE_DATE"/>
        <xs:element type="xs:decimal" name="POLICY_AMOUNT_OR_PREMIUM"/>
        <xs:element type="xs:string" name="POLICY_FEATURES"/>
        <xs:element type="xs:int" name="MAX_LIABILITY"/>
        <xs:element type="xs:string" name="ADDITIONAL_DETAILS_IF_ANY"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Claim_Intimation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="1" name="xmlRequest">
<xs:complexType>
<xs:sequence>
  <xs:element name="CLAIM_INTIMATION">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" type="xs:string" name="REFERENCE_NO"/>
        <xs:element minOccurs="1" type="xs:string" name="SOURCE"/>
        <xs:element minOccurs="1" type="xs:string" name="TRANSACTION"/>
        <xs:element minOccurs="1" type="xs:string" name="POLICY_NO"/>
        <xs:element minOccurs="1" type="xs:string" name="REPORT_MODE"/>
        <xs:element minOccurs="1" type="xs:string" name="REPORT_NO"/>
        <xs:element minOccurs="1" type="xs:string" name="VEH_IDENTI_TYPE"/>
        <xs:element minOccurs="1" type="xs:string" name="VEH_IDENTI_VALUE"/>
        <xs:element minOccurs="1" type="xs:string" name="LOSS_NATURE"/>
        <xs:element minOccurs="1" type="xs:string" name="LOSS_CAUSE"/>
        <xs:element minOccurs="1" type="xs:string" name="LOSS_DATE"/>
        <xs:element minOccurs="1" type="xs:string" name="LOSS_REMARKS"/>
        <xs:element minOccurs="1" type="xs:int" name="FAULT_PERCENT"/>
        <xs:element minOccurs="1" type="xs:string" name="LOSS_LOCATION"/>
        <xs:element minOccurs="1" type="xs:string" name="TP_DRIVER_NAME"/>
        <xs:element minOccurs="1" type="xs:int" name="TP_DOB"/>
        <xs:element minOccurs="1" type="xs:string" name="TP_ID"/>
        <xs:element minOccurs="1" type="xs:string" name="TP_VEH_IDENTI_TYPE"/>
        <xs:element minOccurs="1" type="xs:string" name="TP_VEH_IDENTI_VALUE"/>
        <xs:element minOccurs="1" type="xs:string" name="TP_PLATE_NO"/>
        <xs:element minOccurs="1" type="xs:string" name="TP_INS_CO"/>
        <xs:element minOccurs="1" type="xs:string" name="TP_MOBILE"/>
        <xs:element minOccurs="1" type="xs:string" name="TP_IBAN"/>
        <xs:element minOccurs="1" type="xs:string" name="TP_NATIONALITY"/>
		<xs:element minOccurs="1" type="xs:string" name="TP_POL_NO"/>
        <xs:element minOccurs="1" type="xs:decimal" name="AMOUNT"/>
        <xs:element minOccurs="1" type="xs:string" name="DAMAGE_FLAG"/>
		<xs:element minOccurs="1" type="xs:string" name="MOBILE_NO"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Claim_IntimationResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="1" name="Claim_IntimationResult">
<xs:complexType>
<xs:sequence>
  <xs:element name="CI_RESPONSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="CLAIM_INTIMATION_NO"/>
        <xs:element type="xs:string" name="STATUS"/>
        <xs:element type="xs:string" name="MESSAGE"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
</wsdl:types>
<wsdl:message name="IService_PolicyIssuance_InputMessage">
<wsdl:part name="parameters" element="tns:PolicyIssuance"/>
</wsdl:message>
<wsdl:message name="IService_PolicyIssuance_OutputMessage">
<wsdl:part name="parameters" element="tns:PolicyIssuanceResponse"/>
</wsdl:message>
<wsdl:message name="IService_Claim_Intimation_InputMessage">
<wsdl:part name="parameters" element="tns:Claim_Intimation"/>
</wsdl:message>
<wsdl:message name="IService_Claim_Intimation_OutputMessage">
<wsdl:part name="parameters" element="tns:Claim_IntimationResponse"/>
</wsdl:message>
<wsdl:portType name="IService">
<wsdl:operation name="PolicyIssuance">
<wsdl:input wsaw:Action="http://tempuri.org/IService/PolicyIssuance" message="tns:IService_PolicyIssuance_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/IService/PolicyIssuanceResponse" message="tns:IService_PolicyIssuance_OutputMessage"/>
</wsdl:operation>
<wsdl:operation name="Claim_Intimation">
<wsdl:input wsaw:Action="http://tempuri.org/IService/Claim_Intimation" message="tns:IService_Claim_Intimation_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/IService/Claim_IntimationResponse" message="tns:IService_Claim_Intimation_OutputMessage"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="PolicyIssuance">
<soap:operation soapAction="http://tempuri.org/IService/PolicyIssuance" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Claim_Intimation">
<soap:operation soapAction="http://tempuri.org/IService/Claim_Intimation" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="Service">
<wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
<soap:address location="http://ezytek-001-site1.1tempurl.com/Service.svc"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>